# PORT
PORT = 3000

# LOG
LOG_FORMAT = prod
LOG_DIR = ../logs

# CORS
ORIGIN = <ORIGIN>
CREDENTIALS = true

# OpenAI
OPENAI_API_KEY = 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

# I/O
MAX_FILE_SIZE = 10mb

# WALLET
ADMIN_MNEMONIC = <ADMIaN_MNEMONIC>
ADMIN_ADDRESS = <ADMIN_ADDRESS>

# NETWORK
NETWORK_URL = https://testnet.vechain.org
NETWORK_TYPE = testnet # testnet, mainnet

# CAPTCHA
RECAPTCHA_SECRET_KEY = <RECAPTCHA_SECRET_KEY>

# Rewards
REWARD_AMOUNT = <REWARD_AMOUNT>
